body{
    padding: 0;
    margin: 0;
}
.container{
    margin: 10px;
    padding: 20px;
background-color: blue;

}
.hero{
     padding: 50px;
     margin: 5px;
     align-items: center;
}
.hero-content{
    text-align: center;
    display: flex;
    justify-content: center;

}
.hero-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}